body {
	margin: 0;
	font-family: sans-serif;
}

#pic {
	width: 1000px;
	opacity: 0.8;
}

.coming {
	color: gray;
	font-weight: lighter;
}

.coming:hover {
	color: yellow;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100vh;
	flex-direction: column;
}

h1 {
	font-weight: lighter;
}